---
import Section from './Section.astro';
---

<Section title="BMW ELECTRIC iX3" subtitle="Explore inventory" color="white">
  <div slot="footer" class="flex gap-x-4 mx-auto">
    <a
      class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded text-white font-medium px-12 py-2 inline-block transition-colors hover:border-gray-500 hover:bg-gray-500"
      href="https://www.bmw.es/es/coches-bmw.html?detail=BMW-i_BMW-iX3"
      target="_blank">Custom Order</a
    >
    <a
      class="bg-white text-sm rounded text-black font-medium px-12 py-2 transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center"
      href="https://www.youtube.com/embed/Qyng2pCwuMA"
      title="BMW iX3 210kW M Sport 80kWh 5dr Auto - AY71FLG"
      target="_blank">Demo Drive</a
    >
  </div>
  <img
    slot="background"
    src="/BMW-elec-ix3.avif"
    alt="BMW ELECTRIC iX3"
    class="h-full w-full object-cover object-center"
  />
</Section>
