---
import Section from './Section.astro';
---

<Section title="BMW ELECTRIC i7" subtitle="Explore inventory" color="white">
  <div slot="footer" class="flex gap-x-4 mx-auto">
    <a
      class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded text-white font-medium px-12 py-2 inline-block transition-colors hover:border-gray-500 hover:bg-gray-500"
      href="https://www.bmw.es/es/coches-bmw.html?detail=BMW-i_BMW-i7"
      target="_blank">Custom Order</a
    >
    <a
      class="bg-white text-sm rounded text-black font-medium px-12 py-2 transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center"
      href="https://www.dailymotion.com/embed/video/x8e3i4c?autoplay=1"
      title="Dailymotion Video Player"
      target="_blank"
      >Demo Drive
    </a>
  </div>
  <img
    slot="background"
    src="/BMW-elec-i7.avif"
    alt="BMW ELECTRIC i7"
    class="h-full w-full object-cover object-center"
  />
</Section>
